body {
    background: #0fbbd9 url(background.jpeg) no-repeat fixed;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

div.page {
    position: relative;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    padding: 30px;
    min-height: 460px;
    width: 780px;
}

a {
    color: #15BDDA;
}

img {
    border: none;
}

div.page div.header h1 {
    margin: 10px 0 25px 0;
    padding: 0;
    color: #15BDDA;
}

ul.navigation {
    clear: both;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    border-bottom: 2px solid #15BDDA;
    background: white;
    padding: 3px 7px;
}

ul.navigation li {
    display: inline;
    padding: 0;
    margin: 0;
}

ul.navigation li a {
    font-weight: bold;
    padding: 0 2px;
    text-decoration: none;
    color: #666;
}

ul.navigation li.active a {
    color: #15BDDA;
}

div.contents {
    clear: both;
}

div.contents h2, div.contents h3 {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: normal;
    margin: 0;
}

div.contents h3 {
    margin: 10px 0 0 0;
    padding: 0;
}

div.contents p {
    margin: 0 0 10px 0;
    padding: 0;
}

div.bodywrapper {
    min-height: 200px;
}

div.feed-box {
    text-align: right;
}

/* :::: STEAM LOGIN :::: */
p.steam-login {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    margin: 0;
    padding: 0;
    font-size: 90%;
    height: 30px;
    text-align: right;
}

p.steam-login a.login {
    display: block;
    float: right;
    background: url(steam-signin.png) no-repeat;
    height: 23px;
    width: 154px;
}

p.steam-login a.login span {
    display: none;
}

/* :::: FLASHES :::: */
div.flash {
    padding: 5px 10px;
    background: black;
    color: white;
    margin: 0;
}

/* :::: PAGINATION :::: */
div.pagination {
    margin: 30px 0 0 0;
    text-align: right;
}

div.pagination a, div.pagination strong {
    padding: 2px 4px;
    border: 1px solid #0fbbd9;
    background: #b5e9f2;
    text-decoration: none;
    border-radius: 3px;
}

div.pagination a:hover, div.pagination strong {
    background: white;
}

div.legal {
    line-height: 1.2;
    font-size: 12px;
    margin-top: 30px;
    text-align: right;
    color: #888;
}

div.legal a {
}

/* :::: TIMELINE :::: */
ul.news {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.news li.item {
    line-height: 1.5;
    margin: 15px auto;
    padding: 6px 10px;
    background: white;
}

ul.news li.item-twitter {
    width: 60%;
}

ul.news li.item div.developer a.developer {
    font-weight: bold;
}

ul.news li.item div.developer span.favorite a {
    cursor: pointer;
    margin: 2px -3px 0 0;
    display: block;
    float: right;
    background: url(star.png) no-repeat;
    width: 16px!important;
    height: 16px!important;
}

ul.news li.item div.developer span.favorite a.fav {
    background-position: 0 -16px;
}

ul.news li.item div.developer span.favorite a span {
    display: none;
}

ul.news li.item-forums div.text {
    padding: 10px 20px;
    overflow: auto;
}

ul.news li.item-twitter div.text {
    background: url(twitter.png) no-repeat 0 5px;
    min-height: 45px;
    padding: 5px 10px 5px 70px;
    font-style: italic;
    font-family: 'Georgia', serif;
}

ul.news li.item-forums blockquote {
    margin: 15px 30px;
}

/* :::: OTHER BOXES :::: */

dl.developer-box, div.box {
    line-height: 1.5;
    margin: 15px auto;
    padding: 7px 15px;
}

dl dt {
    font-weight: bold;
    margin: 3px 0;
    padding: 0;
}

dl dd {
    margin: 3px 0 10px 30px;
    padding: 0;
}

/* :::: INPUTS :::: */
input, textarea {
    font-family: 'Verdana', sans-serif;
    border: 1px solid #3a4f61;
    padding: 2px;
}

input[type="submit"] {
    padding: 3px 10px;
}

/* :::: ADMIN :::: */
div.admin-box {
    line-height: 1.2;
}

div.admin-box dd {
    margin: 4px 0 6px 20px;
    padding: 0;
}

div.admin-box dt {
    margin: 0;
    padding: 0;
}
