{% extends 'layout.html' %}
{% block title %}Developers{% endblock %}
{% block body %}
  <h2>Developers</h2>
  <div class=box>
    <p>
      The following developers are currently tracked by this website.  Developers that
      have not yet written any posts are marked in a light color.
    <ul>
    {%- for developer, has_messages in developers %}
      <li{{ ' class=faded' if not has_messages }}><a href={{
        url_for('show_developer', slug=developer.slug) }}>{{ developer.name }}</a>
        {% if developer.twitter_name %}aka <a href=http://twitter.com/{{ developer.twitter_name
          }}>@{{ developer.twitter_name }}</a>{% endif %} — {{ developer.description }}
    {%- endfor %}
    </ul>
    <p>
      Someone is missing?  <a href="{{ url_for('about') }}#missing-dev">let me know</a>.
  </div>
{% endblock %}
